<mat-card>
  <mat-card-title>Upload Document</mat-card-title>

  <!-- User Selection -->
  <mat-form-field>
    <mat-label>User</mat-label>
    <mat-select [(ngModel)]="selectedUser">
      <mat-option *ngFor="let user of users" [value]="user._id">
        {{ user.username }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Document Name -->
  <mat-form-field>
    <input matInput placeholder="Document Name" [(ngModel)]="documentName">
  </mat-form-field>

  <!-- File Input -->
  <input type="file" (change)="onFileChange($event)" accept=".txt" />

  <!-- Upload Button -->
  <button mat-raised-button (click)="onUpload()">Upload</button>
</mat-card>
